body {
    background-image: url(/fotos/wallpaper.jpg);
}
main{    
    width: 100%;
    margin-top: 200px;
    }
.izq{
    text-align: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 27px;
}
label{
    padding-bottom: 20px;
    
}
button{
    width: 20%;
    align-self: center;    
}
form {
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
max-width: 800px;
margin: 0 auto;
}

input, textarea {
background: #252525;
border: 3px solid white;
border-radius: 5px;
margin-bottom: 15px;
color: white;
width: 100%;
display: flex;
}

textarea {
grid-column: span 2; 
height: 100px;
}

article{
    margin-top: 50px;
    font-size: 30px;
    color: lightsteelblue;
}