body{background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;                
}
main{
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
p{font-family: sans-serif;
    width: 100%;}
nav{display: inline-block;
    font-family: sans-serif;
    width: 20%; 
    }

    nav a:hover {
color: lightsteelblue;
}
h1{font-size: 40px;
font-family: sans-serif;
color: whitesmoke;}
h2{font-size: 30px; 
    font-family: sans-serif;
    color: lightsteelblue;}
footer{font-size: 14px;
font-family: sans-serif;}
nav{position: fixed;
    background-color: black;
top: 0;
left: 0;
width: 100%;
padding: 0px 0px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
font-family: sans-serif;}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}
nav ul li{display: inline;}
nav ul li a{color: white;
text-decoration: none;
padding: 10px 100px;
display: block;}
header{
    color: black;    
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    padding:25px;
}
.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.robotobold{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; 
}
footer{
    margin-top: 20px;
}