img{
    display: inline-block;
    padding: 8px;
}
main{width: 80%;
display: inline-block;
    text-align: left;
}
.textobts {
    display: inline-block;
    width:60%;
    justify-content: left;
    padding: 8px;
}
.lisbethbts {
    display: inline-block;
    padding: 8px;             
}
